# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries (except in ThirdParty)
*.so
*.dylib
*.dll
!Engine/Source/ThirdParty/**/*.dll
!Engine/Source/ThirdParty/**/*.so
!Engine/Source/ThirdParty/**/*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries (except in ThirdParty)
*.lai
*.la
*.a
*.lib
!Engine/Source/ThirdParty/**/*.a
!Engine/Source/ThirdParty/**/*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Build directories
cmake-build-*/
build/
out/

# IDE files
.idea/
.vs/
*.vcxproj
*.vcxproj.filters
*.sln
